@media (min-width: 1300px) and (max-width: 1450px) {
    #contact:after {
        left: 41%;
        transform: translateX(-50%);
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .full-screen {
        min-height: 680px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar {
        padding-bottom: 10px;
    }

    .header-nav .navbar-nav > li {
        margin: 0 0 0 15px;
    }

    .header-nav .navbar-nav .nav-item a {
        padding: 0 5px;
        font-size: 14px;
    }

    .header-nav .navbar-nav .nav-link.active:before,
    .header-nav .navbar-nav .nav-item:hover:before {
        height: 87px;
    }

    .nav-sign li a {
        font-size: 18px;
        padding: 8px 12px;
        width: 135px;
        height: 42px;
    }

    .full-screen {
        min-height: 520px;
    }

    .home-banner h5 {
        font-size: 40px;
        margin: 25px 0 40px;
        width: 360px;
    }

    .home-banner p {
        width: 360px;
    }

    #aboutus:after {
        left: -265px;
    }

    .btn-bar a {
        font-size: 18px;
        padding: 10px 12px;
        width: 142px;
        height: 43px;
    }

}

@media only screen and (max-width: 767px) {
    .header-nav .navbar-nav > li {
        margin: 10px 0;
    }
    .switch {
        right: 6%;
    }

    .header-nav .navbar-nav .nav-link.active:after,
    .header-nav .navbar-nav .nav-item:after,
    .header-nav .navbar-nav .nav-link.active:before,
    .header-nav .navbar-nav .nav-item:hover:before {
        display: none;
    }
    .nav-sign li a {
        padding: 10px;
        height: 45px;
    }
    .home-text-center {
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #aboutus::before {
        left: 45%;
        top: -217px;
        height: 14%;
    }

    #aboutus::after {
        left: -215px;
        top: 0;
        height: 27%;
    }

    .about-text p {
        width: auto;
    }

    .gallery-padding:last-child {
        margin-bottom: 0px;
    }

    .gallery-padding {
        margin-bottom: 30px;
        text-align: center;
    }

    .gallery-padding img {
        width: 100%;
    }

    #invitation::before {
        left: 46%;
        top: -213px;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .home-banner h5 {
        font-size: 45px;
        margin: 25px 0 27px;
    }

    .home-banner .ban-txt {
        font-family: "Feast of Flesh", "Bitstream Vera Serif Bold", serif;
        padding-left: 7px;
    }

    .heading {
        font-size: 28px;
    }

    .about-text p {
        width: 308px;
    }

    #aboutus::before {
        left: 40%;
        height: 25%;
    }

    #aboutus::after {
        left: -331px;
        width: 180%;
    }

    .button {
        font-size: 14px;
        padding: 8px 11px;
    }

    .footer_text a {
        font-size: 12px;
    }

    #back-top-btn {
        width: 45px;
        height: 45px;
    }

    .gallery .heading {
        padding-top: 65px;
    }

    #gallery::before {
        left: 41%;
        top: -203px;
    }

    #loading-center-absolute {
        position: absolute;
        left: 50%;
        top: 47%;
        height: 100px;
        width: 200px;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 380px) {

}